@page
@model Distreet.Areas.Events.Pages.EventDetails

@{
    Layout = "_Layout";
}

<div class="col-md-4">
    <img src="~/img/carousel1.jpg" class="img-fluid rounded event-card-image w-25 h-100" alt="...">
</div>
