@using Microsoft.AspNetCore.Identity
@using Distreet.Models.User
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<li class="nav-item d-flex align-items-center">
    @{
        var user = await UserManager.GetUserAsync(User);
        if (SignInManager.IsSignedIn(User))
        {
            <div class="btn btn-outline-secondary border-0 rounded-pill pt-0 pb-0 px-2 pe-3">
                <a asp-area="Identity" asp-page="/Account/Profile" class="text-black text-decoration-none d-flex align-items-center" id="dropdownUser1" aria-expanded="false">
                    <img src="@user.ProfilePicture" alt="mdo" width="30" height="30" class="rounded-circle me-2">
                    <span class="navbar-text">@user.UserName</span>
                </a>
            </div>
        }
        else
        {
            <a class="btn btn-secondary navbar-text" asp-area="Identity" asp-page="/Account/Login"><i class="fas fa-sign-in-alt"></i> Login</a>
        }
    }
</li>